.sobremi-section{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: $veige;
    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        padding: 16px;
        img{
            height: 400px;
            width: 100%;
            object-fit: cover;
            object-position: top;
        }
    }
}
